<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helping Hand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class = "navbar">
        <a href = "/"><img src="{{ url_for('static', filename = 'img/logo.png') }}" alt="Logo"></a>
        <a href = "/"><img src="{{ url_for('static', filename = 'img/logotext.png') }}" alt="Logotext"></a>
        <a href = "/registerlogin" style = "text-decoration:none" class = "btn btn-primary">Login/CreateAccount</a>
    </div>

    <div class = 'top' style = "height:200px margin: 5px">
        <h2> Find Help According To Your Gender/Sexual Orientation:</h2>
        <div style = "display:flex; justify-content: space-around;">
            <a href="/gender/male"><img src="{{ url_for('static', filename = 'img/male.jpeg') }}" style = "border: solid black 2px"alt="male"></a>
            <a href="/gender/female"><img src="{{ url_for('static', filename = 'img/female.jpeg') }}" style = "border: solid black 2px" alt="female"></a>
            <a href="/gender/lgbtq"><img src="{{ url_for('static', filename = 'img/lgbtq.jpeg') }}" style = "border: solid black 2px" alt="lgbtq"></a>
            <a href="/gender/any_gender"><img src="{{ url_for('static', filename = 'img/other.png') }}" style = "border: solid black 2px; background-color: pink;" alt="gender_other" ></a>
        </div>
    </div>

    <div class = 'middle' style = "height:200px margin: 5px">
        <h2> Find Help According To Your Hardship:</h2>
        <div style = "display:flex; justify-content: space-around;">
            <a href="/hardship/physical"><img src="{{ url_for('static', filename = 'img/physical.jpeg') }}" style = "border: solid black 2px" alt="physical"></a>
            <a href="/hardship/mental"><img src="{{ url_for('static', filename = 'img/mental.jpeg') }}" style = "border: solid black 2px" alt="mental" ></a>
            <a href="/hardship/financial"><img src="{{ url_for('static', filename = 'img/financial.jpeg') }}" style = "border: solid black 2px" alt="financial"></a>
            <a href="/hardship/any_hardship"><img src="{{ url_for('static', filename = 'img/other.png') }}" style = "border: solid black 2px; background-color: pink;"alt="hardship_other"></a>
        </div>
    </div>
    
    <div class = 'bottom' style = "height:200px margin: 5px">
        <h2> Find Help According To Your Citizenship Status:</h2>
        <div style = "display:flex; justify-content: space-around;">
            <a href="/status/citizen"><img src="{{ url_for('static', filename = 'img/citizen.jpeg') }}" style = "border: solid black 2px" alt="citizen"></a>
            <a href="/status/immigrant"><img src="{{ url_for('static', filename = 'img/immigration.jpeg') }}" style = "border: solid black 2px" alt="immigrant" ></a>
            <a href="/status/refugee"><img src="{{ url_for('static', filename = 'img/refugee.jpeg') }}" style = "border: solid black 2px" alt="refugee"></a>
            <a href="/status/any_status"><img src="{{ url_for('static', filename = 'img/other.png') }}" style = "border: solid black 2px; background-color: pink;" alt="status_other"></a>
        </div>
    </div>
    <!-- <div style = "display: flex; justify-content: space-evenly;">
        <a href="">Contact Us</a> <a href="">Sitemap</a>
    </div> -->
</body>
</html> 