<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helping Hand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class="navbar">
        <a href="/"><img src="{{ url_for('static', filename = 'img/logo.png') }}" alt="Logo"></a>
        <a href="/"><img src="{{ url_for('static', filename = 'img/logotext.png') }}" alt="Logotext"></a>
        <a href="/user/logout" class="btn btn-danger">Logout</a>
    </div>
    <div class="text-center">
        <h1>Hello</h1>
        <h3>You are logged in as a provider</h3>
    </div>
    <div style="text-align: center;">
        <input type = 'hidden' name = "id" value = "{{user_card.email}}" />
            <div>   
                <div class="row">
                    <div class="col">
                        <p for="first_name">First Name: {{user_card.first_name}} </p>
                    </div>
                    <div class="col">
                        <p for="last_name">Last Name: {{user_card.last_name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p for="email">Email: {{user_card.email}}</p>
                    </div>
                    <div class="col">
                        <p for="phone_number">Phone Number: {{user_card.phone_number}}</p>
                    </div>
                    <div class="col">
                        <p for="phone_number">Occupation: {{user_card.occupation}}</p>
                    </div>
                </div>
            </div>

            <!-- ----------------------------Business Hours: --------------------------------->
            <div>
                <label for="appt" style="font-weight: bold; text-decoration: underline;">Business hours: </label><br />
                <div class='row'>
                    <div class='col'>
                        <p for="sunday"> <span style="font-weight: bold;">Sunday: </span>
                            <span for="sundayopen">Open: {{business_card.sundayopen}}</span>-
                            <span for="sundayclose" >Close: {{business_card.sundayclose}}</span>
                        </p><br />
    
                        <p for="monday"> <span style="font-weight: bold;">Monday: </span>
                            <span for="mondayopen">Open: {{business_card.mondayopen}}</span>-
                            <span for="mondayclose">Close: {{business_card.mondayclose}}</span>
                        </p><br />
    
                        <p for="tuesday"> <span style="font-weight: bold;">Tuesday: </span>
                            <span for="tuesdayopen">Open: {{business_card.tuesdayopen}}</span>-
                            <span for="tuesdayclose">Close: {{business_card.tuesdayclose}}</span>
                        </p><br />
    
                        <p for="wednesday"> <span style="font-weight: bold;">Wedndesday: </span>
                            <span for="wednesdayopen">Open: {{business_card.wednesdayopen}}</span>-
                            <span for="wednesdayclose">Close: {{business_card.wednesdayclose}}</span>
                        </p><br />
    
                    </div>
                    <div class='col'>
                        <p for="thursday"> <span style="font-weight: bold;">Thursday: </span>
                            <span for="thrusdayopen" >Open: {{business_card.thursdayopen}}</span>-
                            <span for="thrusdayclose">Close: {{business_card.thursdayclose}}</span>
                        </p><br />
    
                        <p for="friday"> <span style="font-weight: bold;">Friday: </span>
                            <span for="fridayopen">Open: {{business_card.fridayopen}}</span>-
                            <span for="fridayclose">Close: {{business_card.fridayclose}}</span>
                        </p><br />
    
                        <p for="saturday"> <span style="font-weight: bold;">Saturday: </span>
                            <span for="saturdayopen">Open: {{business_card.saturdayopen}}</span>-
                            <span for="saturdayclose">Close: {{business_card.saturdayclose}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- -------------------------Speciality---------------------------------------- -->
            <div>
                <label style="font-weight: bold; text-decoration: underline;"> Speciality: </label>
                <div>
                    <div>
                        <p for="gender" style="font-weight: bold;">Gender:</p>
                        {% if speciality_card.male   == '1' %}
                        <span>Male</span>
                        {% endif %}
                        {% if speciality_card.female   == '1' %}
                        <span>Female</span>
                        {% endif %}
                        {% if speciality_card.lgbtq   == '1' %}
                        <span>Lgbtq</span>
                        {% endif %}
                        <span>{{speciality_card.gender_other}}</span>
                    </div>
                    <div>
                        <p for="gender" style="font-weight: bold;">Hardships:</p>
                        {% if speciality_card.physical  == '1' %}
                        <span>Physical</span>
                        {% endif %}
                        {% if speciality_card.mental   == '1' %}
                        <span>Mental</span>
                        {% endif %}
                        {% if speciality_card.financial   == '1' %}
                        <span>Financial</span>
                        {% endif %}
                        <span>{{speciality_card.hardship_other}}</span> 
                    </div>
                    <div>
                        <p for="gender" style="font-weight: bold;">Status:</p>
                        {% if speciality_card.citizen  == '1' %}
                        <span>Citizen</span>
                        {% endif %}
                        {% if speciality_card.immigrant   == '1' %}
                        <span>Immigrant</span>
                        {% endif %}
                        {% if speciality_card.refugee   == '1' %}
                        <span>Refugee</span>
                        {% endif %}
                        <span>{{speciality_card.status_other}}</span> 
                    </div>
                </div>
            </div>

            <!-- ---------------------------------Work Address----------------------------------- -->
            <div>
                <label for="address" style="font-weight: bold; text-decoration: underline;"> Work Address:</label>
                <div>
                    <div class="row">
                        <div class="col">
                            <p>{{address_card.house_number}}</p>
                        </div>
                        <div class="col">
                            <p>{{address_card.street_name}}</p>
                        </div>
                        <div class="col">
                            <p>{{address_card.suite_number}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{address_card.city_name}}</p>
                        </div>
                        <div class="col">
                            <p>{{address_card.state}}</p>
                        </div>
                        <div class="col">
                            <p>{{address_card.zip_code}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href = "/provider/form" class = "btn btn-primary m-2">Edit Profile</a>
                <form action = '/provider/delete' method = 'post'>
                    <input type = 'submit' value = 'Delete Profile' class = 'btn btn-danger' />
                </form>
            </div>
    </div>
    <!-- <div style="display: flex; justify-content: space-evenly;">
        <a href="">Contact Us</a> <a href="">Sitemap</a>
    </div> -->
</body>
</html>