<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>
<body>
<p>If you are willing to assits or know about a facility/individual that would, please enter their inforaation below: </p>
<form action="" method = "">
    <label for="facility">Facility: </label><br>
    <input type="text" name = "facility"><br>

    <label for="street">Street: </label><br>
    <input type="text" name = "street"><br>

    <label for="suite">Suite: </label><br>
    <input type="text" name = "suite"><br>

    <label for="city">City: </label><br>
    <input type="text" name = "city"><br>

    <label for="state">State: </label><br>
    <input type="text" name = "state"><br>

    <label for="zipcode">Zipcode: </label><br>
    <input type="text" name = "zipcode"><br>

    <label for="zipcode">Candidate: </label><br>
    <div>
        <input type="checkbox" id="malec" name="malec" value="male">
        <label for="malec"> Only Male </label><br>
        <input type="checkbox" id="femalec" name="femalec" value="female">
        <label for="femalec"> Only Female </label><br>
        <input type="checkbox" id="Lgbtqc" name="lgbtqc" value="lgbtq">
        <label for="lgbtqc"> Only Lgbtq+ </label><br><br>
        <input type="checkbox" id="donotc" name="donotc" value="donot">
        <label for="donotc"> All </label><br><br>
    </div>

    <label for="work_hours">Work Hours: </label><br>
    <input type="text" name = "work_hours"><br>

    <label for="work_days">Work Days:</label><br>
    <input type="text" name = "zipcode"><br>


</form>

</body>
</html>